name: ci

on:
  push:
    tags:
      - '*' # Runs only when a tag is pushed

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 3072 
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-android: 'true'
          remove-haskell: 'true'
          remove-codeql: 'true'

      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        run: echo "${{ secrets.GH_DOCKERHUB }}" | docker login -u fnzv --password-stdin

      - name: Build and Push image
        run: |
          TAG_NAME=${{ github.ref_name }}
          
          docker build \
            -t fnzv/trash:${TAG_NAME} \
            -t fnzv/trash:latest \
            .
            
          docker push fnzv/trash:${TAG_NAME}
          docker push fnzv/trash:latest